In [91]:
import pandas as pd
import xlrd #to read excel file
import pymysql
import sqlalchemy #To connect to mysql

In [92]:
#Get pandas version
pd.__version__

'1.1.3'

### Load data into pandas from excel spreadsheet

In [105]:
#create dataframe
df = pd.read_excel('100 Records.xlsx')
df.head(3)

,Emp ID,Name Prefix,First Name,Middle Initial,Last Name,Gender,E Mail,Father's Name,Mother's Name,Mother's Maiden Name,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Password
0,677509,Drs.,Lois,H,Walker,F,lois.walker@hotmail.com,Donald Walker,Helen Walker,Lewis,...,467-99-4677,303-572-8492,Denver,Denver,Denver,CO,80224,West,lhwalker,DCa}.T}X:v?NP
1,940761,Ms.,Brenda,S,Robinson,F,brenda.robinson@gmail.com,Raymond Robinson,Judy Robinson,Perry,...,537-71-4566,225-945-4954,Stonewall,De Soto,Stonewall,LA,71078,South,bsrobinson,TCo\j#Zg;SQ~o
2,428945,Dr.,Joe,W,Robinson,M,joe.robinson@gmail.com,Scott Robinson,Stephanie Robinson,Taylor,...,025-92-3584,219-904-2161,Michigantown,Clinton,Michigantown,IN,46057,Midwest,jwrobinson,GO4$J8MiEh[A

### Cleaning the data

In [95]:
df.shape

(100, 37)

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 37 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Emp ID                  100 non-null    int64
 1   Name Prefix             100 non-null    object
 2   First Name              100 non-null    object
 3   Middle Initial          100 non-null    object
 4   Last Name               100 non-null    object
 5   Gender                  100 non-null    object
 6   E Mail                  100 non-null    object
 7   Father's Name           100 non-null    object
 8   Mother's Name           100 non-null    object
 9   Mother's Maiden Name    100 non-null    object
 10  Date of Birth           100 non-null    datetime64[ns]
 11  Time of Birth           100 non-null    object
 12  Age in Yrs.             100 non-null    float64
 13  Weight in Kgs.          100 non-null    int64
 14  Date of Joining         100 non-null    datetime64[ns]
 15  Quarter of Joining      100 non-null    object
 16  Half of Joining         100 non-null    object
 17  Year of Joining         100 non-null    int64
 18  Month of Joining        100 non-null    int64
 19  Month Name of Joining   100 non-null    object
 20  Short Month             100 non-null    object
 21  Day of Joining          100 non-null    int64
 22  DOW of Joining          100 non-null    object
 23  Short DOW               100 non-null    object
 24  Age in Company (Years)  100 non-null    float64
 25  Salary                  100 non-null    int64
 26  Last % Hike             100 non-null    float64
 27  SSN                     100 non-null    object
 28  Phone No.               100 non-null    object
 29  Place Name              100 non-null    object
 30  County                  100 non-null    object
 31  City                    100 non-null    object
 32  State                   100 non-null    object
 33  Zip                     100 non-null    int64
 34  Region                  100 non-null    object
 35  User Name               100 non-null    object
 36  Password                100 non-null    object
dtypes: datetime64[ns](2), float64(3), int64(7), object(25)
memory usage: 29.0+ KB

In [ ]:
#remove rows with any missing values
df.dropna()

**We don't have any missing values.**

In [106]:
# replace spaces in column names with _
df.columns = df.columns.str.replace(' ', '_')
df.head(1)

,Emp_ID,Name_Prefix,First_Name,Middle_Initial,Last_Name,Gender,E_Mail,Father's_Name,Mother's_Name,Mother's_Maiden_Name,...,SSN,Phone_No.,Place_Name,County,City,State,Zip,Region,User_Name,Password
0,677509,Drs.,Lois,H,Walker,F,lois.walker@hotmail.com,Donald Walker,Helen Walker,Lewis,...,467-99-4677,303-572-8492,Denver,Denver,Denver,CO,80224,West,lhwalker,DCa}.T}X:v?NP

In [ ]:
#array of values
df.values

In [100]:
#Check for duplicate values in'Emp_ID' and 'User_Name' columns
ddf = df.duplicated(subset=['Emp_ID','User_Name'], keep=False).sum()
print(ddf)

0

**No duplicates**

### Separate the dataframes

In [107]:
authdf = df[["Emp_ID","User_Name", 'Password']]
#Make "Emp_ID" the index
authdf.set_index("Emp_ID", inplace= True)
authdf.head(3)

         User_Name       Password
Emp_ID
677509    lhwalker  DCa}.T}X:v?NP
940761  bsrobinson  TCo\j#Zg;SQ~o
428945  jwrobinson   GO4$J8MiEh[A

In [108]:
recdf = df.drop(["User_Name", 'Password'], axis =1)
#Make "Emp_ID" the index
recdf.set_index("Emp_ID", inplace= True)
recdf.head(3)

,Name_Prefix,First_Name,Middle_Initial,Last_Name,Gender,E_Mail,Father's_Name,Mother's_Name,Mother's_Maiden_Name,Date_of_Birth,...,Salary,Last_%_Hike,SSN,Phone_No.,Place_Name,County,City,State,Zip,Region
Emp_ID,,,,,,,,,,,,,,,,,,,,,
677509,Drs.,Lois,H,Walker,F,lois.walker@hotmail.com,Donald Walker,Helen Walker,Lewis,1981-03-29,...,168251,0.21,467-99-4677,303-572-8492,Denver,Denver,Denver,CO,80224,West
940761,Ms.,Brenda,S,Robinson,F,brenda.robinson@gmail.com,Raymond Robinson,Judy Robinson,Perry,1970-07-31,...,51063,0.27,537-71-4566,225-945-4954,Stonewall,De Soto,Stonewall,LA,71078,South
428945,Dr.,Joe,W,Robinson,M,joe.robinson@gmail.com,Scott Robinson,Stephanie Robinson,Taylor,1963-06-16,...,50155,0.16,025-92-3584,219-904-2161,Michigantown,Clinton,Michigantown,IN,46057,Midwest

### Load Dataframes to Mysql Database

In [102]:
import pymysql
import mysql.connector as conn

# Create database
mydb = conn.connect(
     host='localhost', 
     user='root', 
     password='newlight',
      database="Employees"
)
    
cursor = mydb.cursor()
cursor.execute("CREATE DATABASE IF NOT EXISTS Employees")
print('Database created!')

Database created!

In [103]:
import pymysql
from sqlalchemy import create_engine

    
# Create SQLAlchemy engine to connect to MySQL Database
engine = create_engine("mysql+pymysql://root:newlight@localhost/Employees")

#connect to engine
dbconn   = engine.connect()

print("Connected to database!")

# Convert dataframe to sql table                                   
authdf.to_sql('authentification', dbconn, index=True, if_exists='replace')
recdf.to_sql('employee_records', dbconn, index=True, if_exists='replace')

print ("Tables created!")

#Set the primary keys
engine.execute('ALTER TABLE authentification ADD PRIMARY KEY (`Emp_ID`);')
engine.execute('ALTER TABLE employee_records ADD PRIMARY KEY (`Emp_ID`);')

print ("Set Emp_ID as PRIMARY KEY")
dbconn.close()

Connected to database!
Tables created!
Set Emp_ID as PRIMARY KEY

### Convert to separate Excel Spreadsheets

In [104]:

import xlsxwriter
#Create file
f = open("workers.xlsx","w")
#Weite to file
with pd.ExcelWriter("workers.xlsx") as xfile:
    #on different sheets
    authdf.to_excel(xfile, sheet_name='Authentification')
    recdf.to_excel(xfile, sheet_name='Records')
f.close()